* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/src/img/pizzabg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lobster, "Open Sans";
  color: #e0ec00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 90vh;
  margin-top: 5vh;
}

.header {
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(1, 1, 1, 0.4);
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.links {
  margin-left: auto;
  padding: 1vh;
  font-size: 1.5em;
  list-style-type: none;
  display: flex;
  gap: 5vh;
}

/*.li {
  padding: 0 vh;
}*/

.li:hover {
  /*background-color: rgba(255, 255, 255, 0.9);*/
  color: rgb(230, 104, 20);
  margin: auto;
  cursor: pointer;
}

#main-content {
  position: relative;
  border-radius: 0px 0px 25px 25px;
  height: 90%;
  background-color: rgba(1, 1, 1, 0.7);
  font-family: "Open Sans";
  padding: 5vh;
}

#homeDescription {
  width: 50%;
  gap: 5vh;
}

#homeDescription p {
  margin: 2vh 0vh 2vh 0vh;
}

#imgCont {
  max-height: 50%;
}

#hyljekuva {
  width: 100%;
  border-radius: 50px;
  max-width: 15vw;
  float: right;
}

footer {
  display: flex;
  width: 70vw;
  justify-content: center;
  position: fixed;
  bottom: 7vh;
}
