* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/src/img/pizzabg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lobster, "Open Sans";
  color: #e0ec00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-height: 90vh;
  margin-top: 5vh;
}

.header {
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(1, 1, 1, 0.4);
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.links {
  margin-left: auto;
  padding: 1vh;
  font-size: 1.5em;
  list-style-type: none;
  display: flex;
  gap: 5vh;
}

h2 {
  font-family: Lobster;
}

/*.li {
  padding: 0 vh;
}*/

.li:hover {
  /*background-color: rgba(255, 255, 255, 0.9);*/
  color: rgb(230, 104, 20);
  margin: auto;
  cursor: pointer;
}

#main-content {
  position: relative;
  overflow: auto;
  border-radius: 0px 0px 25px 25px;
  height: 80vh;
  background-color: rgba(1, 1, 1, 0.7);
  font-family: "Open Sans";
  padding: 5vh;
}

#homeDescription,
#menuDescription {
  width: 50%;
  gap: 5vh;
  height: 90%;
  /* animation: fadeIn 3s; */
}

#menuDescription {
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 3vh;
}

hr {
  width: 50vw;
}

#homeDescription p {
  margin: 2vh 0vh 2vh 0vh;
}

#imgCont {
  max-height: 50%;
}

#hyljekuva {
  width: 100%;
  border-radius: 50px;
  max-width: 15vw;
  float: right;
}

#footer {
  font-family: "Open Sans";
  display: flex;
  width: 70vw;
  justify-content: center;
  position: fixed;
  bottom: 6vh;
  z-index: 1;
}

/*@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

.foodPic {
  max-width: 20vw;
  border-radius: 25px;
  box-shadow: 3px 3px 3px black;
}
